@model Stok.Models.Entity.SATISLAR
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";

}

<button type="button" class="btn btn-primary" style="margin-top:20px" data-toggle="modal" data-target="#Modal1">
    SATIŞ YAP
</button>
<!--Modal1 hedefteki değer-->

<div class="modal" id="Modal1">

    <div class="modal-dialog">

        <div class="modal-content">

            <div class="modal-header">

                <h2 class="modal-title"> SATIŞ YAPMA EKRANI</h2>
                <br />
            </div>

            <form method="post" action="/Satis/YeniSatis">
                <div class="modal-body">

                    <label>Ürün Adı : </label><br />
                    @Html.TextAreaFor(m => m.URUNID, new { @class = "form-control" })
                    <br /> <br />

                    <label >Müşteri Adı Soyadı :</label><br />
                    @Html.TextAreaFor(m => m.MUSTERIID, new { @class = "form-control" })
                    <br /> <br />

                    <label>Adet :</label><br />
                    @Html.TextAreaFor(m => m.ADET, new { @class = "form-control" })
                    <br /> <br />

                    <label>Fiyat :</label><br />
                    @Html.TextAreaFor(m => m.SATISFIYAT, new { @class = "form-control" })
                    <br /> <br />

                    <!--Submit: Kabul butonu
                        data-dismiss: vazgeç, iptal et-->
                    <button type="submit"class="btn btn-warning"> Satış Yap</button>
                    <button class="btn btn-danger" data-dismiss="modal">Vazgeç</button>
                </div>

            </form>
        </div>
    </div>
</div>

