@using Stok.Models.Entity
@using PagedList  
@using PagedList.Mvc

@model PagedList.IPagedList<KATEGORILER>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<!--Projede Controller tarafında değiişiklik yapıldığı zaman kaydedip tekrar alıştırmka gerekir.-->

<html>

<head>

    <style>

        table, th, tr, td {
            border: 1px solid black;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        div {
            height: 35px;
        }

        td {
            text-align: center;
        }

    </style>

</head>

<body>
    <div>


    </div>
    <table class="table-bordered">

        <tr>

            <th>KATEGORİ ID </th>
            <th>KATEGORİ ADI </th>
            <th>SİL </th>
            <th>GÜNCELLE </th>
        </tr>

        <tbody>

            @foreach (var ktgr in Model)
            {
                <tr>
                    <th>@ktgr.KATEGORIID</th>
                    <td>@ktgr.KATEGORIAD</td>
                    <td><a href="/Kategori/Sil/@ktgr.KATEGORIID" style="background-color:red">SİL</a></td>
                    <td><a href="/Kategori/KategoriGetir/@ktgr.KATEGORIID" style="background-color:orange">GÜNCELLE</a></td>
                </tr>
            }

        </tbody>

    </table>
    <br />

    
        @Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("Index", new { sayfa }))
   
    <br />
    <a href="/Kategori/YeniKategori/" style="width:25%; background-color:yellow;">Yeni Kategori Ekle </a>
</body>
</html>
